.body-pages-index {
  background-color: white;

  .filipino-advantage-background {
    background-image: image-url("ph_flag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 833px;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }

  .filipino-advantage {

  }
}
