.devise-sessions {
  header {
    margin: 30px;

    .logo-container {
      text-align: center;
    }

    .logo-container img {
      width: 100%;
      max-width: 400px;
    }

    .logo-container p {
      display: none;
    }

    .nav-container {
      display: none;
    }
  }
}

.pages, .admin {
  header {

    .navbar-default {
      border: none;
      background-color: white;
      height: 110px;
      border-bottom: 2px solid $gray-lighter;
    }

    .navbar-brand p {
      margin: 5px 0px 0px 0px;
      font-size: 10px;
      text-align: center;
      color: $gray-light;
    }

    ul.nav.navbar-nav {
      margin-top: 20px;
      margin-left: 20px;
    }

    ul.nav.navbar-nav.navbar-right .btn-danger{
      color: white;
      padding: 5px 10px;

      &:hover {
        background-color: $brand-dark-danger;
      }
    }

    ul.nav.navbar-nav.navbar-left li{
      margin-top: 10px;

      a {
        padding: 10px;
      }

      &.active {
        border-bottom: 2px solid $brand-primary;

        a {
          background-color: transparent;
        }
      }

      &:hover {
        border-bottom: 1px solid $brand-primary;
      }

      ul.dropdown-menu li {
        margin-top: 0px;

        &:hover {
          border-bottom: none;
        }
      }
    }

  }
}

.admin {
  main {
    margin-top: 120px;
  }
}

@media (max-width: 320px) {
  .pages header, .admin header {
    .navbar-default {
      height: 80px;
    }

    .navbar-brand {
      width: 70%;
    }

    .navbar-brand img{
      width: 70%;
      float: left;
    }

    .navbar-brand p {
      width: 100%;
      font-size: 8px;
      line-height: 8px;
      float: left;
    }

    .navbar-collapse {
      border-top: none;
      background-color: white;
      margin: 0;
      padding: 0;

      ul.nav.navbar-nav {
        margin-right: 0px;
        border: 1px solid $gray-lighter;
        width: 75%;
        float: right;

        li {
          background-color: white;
          margin-top: 0;
          padding-top: 10px;
          z-index: 9999;
        }
      }
    }
  }
}
